{% for block in include.blocks %}
{% case block.template %}
    {% when 'text-left-video-right' %}
        {% include blocks/text-left-video-right.html title=block.title text=block.text buttons=block.buttons video=block.video %}
    {% when 'owl-carousel-image-left-story-right' %}
        {% include blocks/owl-carousel-image-left-story-right.html items=block.items %}
    {% when 'upcoming-events-left-latest-blogs-right' %}
        {% include blocks/upcoming-events-left-latest-blogs-right.html %}
    {% when 'blue-bar' %}
        {% include blocks/blue-bar.html text=block.text button=block.button %}
    {% when 'centered-header-text' %}
        {% include blocks/centered-header-text.html text=block.text %}
    {% when 'form' %}
        {% include blocks/form.html action=block.action controls=block.controls submit_button_text=block.submit_button_text success_text=block.success_text fail_text=block.fail_text %}
{% endcase %}
{% endfor %}