<ul class="sort-destination isotope gallery-items" data-sort-id="gallery">
    {% assign events_sorted_by_from_date = include.events | sort: 'from_date' %}
    {% for event in events_sorted_by_from_date %}
    {% assign location = site.locations | where:"path", event.location | first %}
    <li class="col-md-4 col-sm-6 grid-item event-grid-item {{event.category}} format-standard">
        <div class="grid-item-inner">
            <a href="{{ event.url | absolute_url }}" class="media-box">
                <img data-src="{{ event.image | resized_image_url: 358, 239 }}" width="358" height="239" alt="" class="lazy">
            </a>
            <div class="grid-item-content">
                {% assign from_month = event.from_date | date: "%-m" | minus: 1 %}
                {% assign to_month = event.to_date | date: "%-m" | minus: 1 %}
                <span class="event-date">
                    <span class="date">{{ event.from_date | date: '%d' }}</span>
                    <span class="month">{{ site.data.nl.short_months[from_month] }}</span>
                    <span class="year">{{ event.from_date | date: '%Y' }}</span>
                </span>
                <span class="meta-data">{{ event.from_date | date: '%d' }} {{ site.data.nl.short_months[from_month] }} {{ event.from_date | date: '%Y' }} - {{ event.to_date | date: '%d' }} {{ site.data.nl.short_months[to_month] }} {{ event.to_date | date: '%Y' }}</span>
                <h3 class="post-title"><a href="{{ event.url | absolute_url }}">{{ event.title }}</a></h3>
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge">Duur</span>{{ event.length_of_time }}</li>
                    <li class="list-group-item"><span class="badge">Locatie</span><span>{{ location.title }}</span></li>
                    <li class="list-group-item"><span class="badge">Kosten</span>&euro; {{ event.price }}</li>
                </ul>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>