<div class="post-media">
    <img data-src="{{ include.image | resized_image_url: 750, 500 }}" width="750" height="500" alt="" class="lazy">
</div>
<div class="row">
    {% assign from_month = include.from_date | date: "%-m" | minus: 1 %}
    {% assign to_month = include.to_date | date: "%-m" | minus: 1 %}
    <div class="col-md-6 col-sm-6">
        <span class="event-date">
            <span class="date">{{ include.from_date | date: '%d' }}</span>
            <span class="month">{{ site.data.nl.short_months[from_month] }}</span>
            <span class="year">{{ include.from_date | date: '%Y' }}</span>
        </span>
        <span class="meta-data">{{ include.from_date | date: '%d' }} {{ site.data.nl.short_months[from_month] }} {{ include.from_date | date: '%Y' }} - {{ include.to_date | date: '%d' }} {{ site.data.nl.short_months[to_month] }} {{ include.to_date | date: '%Y' }}</span>
        <a href="{{ "/aanmelden-voor-retraite/" | absolute_url | append: "?event=" | append: page.url }}" class="btn btn-primary btn-event-single-book">Aanmelden</a>
        <a href="{{ location.url }}" class="basic-link" style="margin-top: 16px">Bekijk locatie</a>
      </div>
    <div class="col-md-6 col-sm-6">
        <ul class="list-group">
            <li class="list-group-item">{{ include.location.title }}<span class="badge">Locatie</span></li>
            <li class="list-group-item">{{ include.length_of_time }}<span class="badge">Duur</span></li>
            <li class="list-group-item">&euro; {{ include.price }}<span class="badge">Kosten</span></li>
        </ul>
    </div>
</div>
<div class="spacer-20"></div>
<p class="lead">{{ include.lead_text }}</p>
{{ include.content }}