<ul>
    {% for event in include.events limit: include.limit %}
    {% assign location = site.locations | where:"path", event.location | first %}
    <li>
        {% assign from_month = event.from_date | date: "%-m" | minus: 1 %}
        <a href="{{ event.url | absolute_url }}" class="media-box">
            <img data-src="{{ event.image | resized_image_url: 70, 47 }}" width="70" height="47" alt="{{ event.title }}" class="lazy">
        </a>
        <h5><a href="{{ event.url | absolute_url }}">{{ event.title | escape }}</a></h5>
        <span class="meta-data grid-item-meta">{{ event.from_date | date: '%d' }} {{ site.data.nl.short_months[from_month] }} {{ event.from_date | date: '%Y' }} ({{ event.length_of_time }})</span>
        <span class="meta-data grid-item-meta">{{ location.title }}</span>
    </li>
    {% endfor %}
</ul>