<ul class="events-compact-list">
    {% for event in include.events limit: include.limit %}
    <li class="event-list-item">	
        {% assign from_week = event.from_date | date: "%w" | plus: 0 %}
        {% assign from_month = event.from_date | date: "%-m" | minus: 1 %}
        <span class="event-date">
            <span class="date">{{ event.from_date | date: '%d' }}</span>
            <span class="month">{{ site.data.nl.short_months[from_month] }}</span>
            <span class="year">{{ event.from_date | date: '%Y' }}</span>
        </span>
        <div class="event-list-cont">
            <span class="meta-data">{{ site.data.nl.weekdays[from_week] }}, {{ event.from_date | date: '%R' }}</span>
            <h4 class="post-title"><a href="{{ event.url | absolute_url }}">{{ event.title | escape }}</a></h4>
            <p>{{ event.lead_text }}</p>
        </div>
    </li>
    {% endfor %}
</ul>