<!-- Site Footer -->
{% assign footer = site.data.footer %}
<div class="site-footer parallax parallax3" style="background-image:url('{{ "/images/parallax3.jpg" | absolute_url }}')">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="widget footer_widget">
                    <h4 class="widgettitle">{{ footer.about.title }}</h4>
                    <p><img src="{{ "/images/logo.png" | absolute_url }}" alt="Logo"></p>
                    <p>{{ footer.about.description }}</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="widget footer_widget widget_links">
                    <h4 class="widgettitle">{{ footer.sitemap.title }}</h4>
                    {% if site.menus.footer %}
                    <ul>
                        {% for link in site.menus.footer %}
                        <li><a href="{{ link.url | absolute_url }}"{% if link.target %} target="_blank" {% endif %}>{{ link.title }}</a>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Site Footer -->
<div class="site-footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="copyrights-col-left">
                    <p>&copy; {{ 'now' | date: "%Y" }} {{ site.data.information.company }}. Alle rechten voorbehouden.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6"></div>
                <div class="copyrights-col-right">
                    <ul class="footer-menu">
                        <li><a href="privacy-policy.html">Privacy policy</a></li>
                        <li><a href="payment-terms.html">Payment terms</a></li>
                        <li><a href="refund-policy.html">Refund policy</a></li>
                    </ul>
                </div>
        </div>
    </div>
</div>
<a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>