            <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a> 
        </div>

        <script src="/js/modernizr.js"></script><!-- Modernizr -->
        <script src="/js/jquery-2.1.3.min.js"></script> <!-- Jquery Library Call -->
        <script src="/vendor/magnific/jquery.magnific-popup.min.js"></script> <!-- PrettyPhoto Plugin -->
        <script src="/js/ui-plugins.js"></script> <!-- UI Plugins -->
        <script src="/js/helper-plugins.js"></script> <!-- Helper Plugins -->
        <script src="/vendor/owl-carousel/js/owl.carousel.min.js"></script> <!-- Owl Carousel -->
        <script src="/js/bootstrap.js"></script> <!-- UI -->
        <script src="/vendor/flexslider/js/jquery.flexslider.js"></script> <!-- FlexSlider -->
        <script src="/js/circle-progress.js"></script> <!-- Circle Progress Bars -->
        <script src="/js/lazy-load.js"></script> <!-- Lazy loading images -->
        {{ page.script }}
        {% assign form = page.blocks | where:"template","form" | first %}
        {% if form != nil %}
        <script src="https://www.google.com/recaptcha/api.js?render={{ site.data.site.recaptcha_site_key }}"></script>
        {% endif %}
        <script src="/js/init.js"></script> <!-- All Scripts -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.data.site.ga_tracking_id }}"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.data.site.ga_tracking_id }}');
        </script>
    </body>
</html>