            <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a> 
        </div>

        <script src="{{ "/js/modernizr.js" | absolute_url }}"></script><!-- Modernizr -->
        <script src="{{ "/js/jquery-2.1.3.min.js" | absolute_url }}"></script> <!-- Jquery Library Call -->
        <script src="{{ "/vendor/magnific/jquery.magnific-popup.min.js" | absolute_url }}"></script> <!-- PrettyPhoto Plugin -->
        <script src="{{ "/js/ui-plugins.js" | absolute_url }}"></script> <!-- UI Plugins -->
        <script src="{{ "/js/helper-plugins.js" | absolute_url }}"></script> <!-- Helper Plugins -->
        <script src="{{ "/vendor/owl-carousel/js/owl.carousel.min.js" | absolute_url }}"></script> <!-- Owl Carousel -->
        <script src="{{ "/js/bootstrap.js" | absolute_url }}"></script> <!-- UI -->
        <script src="{{ "/js/init.js" | absolute_url }}"></script> <!-- All Scripts -->
        <script src="{{ "/vendor/flexslider/js/jquery.flexslider.js" | absolute_url }}"></script> <!-- FlexSlider -->
        <script src="{{ "/js/circle-progress.js" | absolute_url }}"></script> <!-- Circle Progress Bars -->
        {{ page.script }}
    </body>
</html>