<a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
<ul class="sf-menu dd-menu pull-right" role="menu">
    {% assign nav_level_1 = site.menus.navigation | where: 'parent', nil %}
    {% for link in nav_level_1 %}
    <li><a href="{{ link.url | absolute_url }}"{% if link.target %} target="_blank" {% endif %}>{{ link.title }}</a>
      {% assign nav_level_2 = site.menus.navigation | where: 'parent', link.identifier %}
      {% if nav_level_2.size > 0 %}
        <ul>
            {% for child in nav_level_2 %}
            <li><a href="{{ child.url | absolute_url }}"{% if child.target %} target="_blank" {% endif %}>{{ child.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<!-- Site Footer -->
<div class="site-footer parallax parallax3" style="background-image:url('{{ "/images/parallax3.jpg" | absolute_url }}')">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="widget footer_widget">
                    {% if site.data.footer %}
                    {% assign footer = site.data.footer %}                    
                    <h4 class="widgettitle">{{ footer.title }}</h4>
                    <p><img src="images/logo.png" alt="Logo"></p>
                    <p>{{ footer.description }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="widget footer_widget widget_links">
                    <h4 class="widgettitle">Blogroll</h4>
                    {% if site.menus.footer %}
                    <ul>
                        {% for link in site.menus.footer %}
                        <li><a href="{{ link.url | absolute_url }}"{% if link.target %} target="_blank" {% endif %}>{{ link.title }}</a>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Site Footer -->
<div class="site-footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="copyrights-col-left">
                    <p>&copy; {{ 'now' | date: "%Y" }} {{ site.data.information.company }}. Alle rechten voorbehouden.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6"></div>
                <div class="copyrights-col-right">
                    <ul class="footer-menu">
                        <li><a href="privacy-policy.html">Privacy policy</a></li>
                        <li><a href="payment-terms.html">Payment terms</a></li>
                        <li><a href="refund-policy.html">Refund policy</a></li>
                    </ul>
                </div>
        </div>
    </div>
</div>
<a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>