<!-- Site Header Wrapper -->
<div class="site-header-wrapper">
    <!-- Site Header -->
    <header class="site-header">
        <div class="container">
            <div class="site-logo">
                <a href="{{ "/" | absolute_url}}" class="default-logo"><img src="{{ "images/sticky-logo.png" | absolute_url }}" alt="Logo"></a>
                <a href="{{ "/" | absolute_url}}" class="default-retina-logo"><img src="{{ "images/sticky-logo@2x.png" | absolute_url }}" alt="Logo" width="220" height="30"></a>
                <a href="{{ "/" | absolute_url}}" class="sticky-logo"><img src="{{ "images/sticky-logo.png" | absolute_url }}" alt="Logo"></a>
                <a href="{{ "/" | absolute_url}}" class="sticky-retina-logo"><img src="{{ "images/sticky-logo@2x.png" | absolute_url }}" alt="Logo" width="220" height="30"></a>
            </div>
            {% include nav.html %}
        </div>
    </header>
</div>