<header class="topbar">
    <div class="container">
        <ul class="social-icons topmenu pull-right">
            <li class="facebook"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
        </ul>
        
        <div class="header-info-col">
            <i class="fa fa-headphones"></i> <strong>00 0123 4567</strong>
        </div>
        <div class="header-info-col">
            <i class="fa fa-envelope-o"></i> <strong>info@stilteretraite.nl</strong>
        </div>
    </div>
</header>

<!-- Site Header Wrapper -->
<div class="site-header-wrapper">
    <!-- Site Header -->
    <header class="site-header">
        <div class="container">
            <div class="site-logo">
                <a href="{{ "/" | absolute_url}}" class="default-logo"><img src="images/sticky-logo.png" alt="Logo"></a>
                <a href="{{ "/" | absolute_url}}" class="default-retina-logo"><img src="images/sticky-logo@2x.png" alt="Logo" width="199" height="30"></a>
                <a href="{{ "/" | absolute_url}}" class="sticky-logo"><img src="images/sticky-logo.png" alt="Logo"></a>
                <a href="{{ "/" | absolute_url}}" class="sticky-retina-logo"><img src="images/sticky-logo@2x.png" alt="Logo" width="199" height="30"></a>
            </div>
            {% include nav.html %}
        </div>
    </header>
</div>