<!-- Hero Area -->
<div class="hero-area">
	<!-- Start Hero Slider -->
	<div class="flexslider heroflex hero-slider" data-autoplay="yes" data-pagination="no" data-arrows="yes" data-style="fade" data-pause="yes">
		<ul class="slides">
			<li class="parallax" style="background-image:url('{{ "/images/slide3.jpg" | absolute_url }}')">
				<div class="flex-caption">
					<div class="container">
						<div class="flex-caption-table">
							<div class="flex-caption-cell">
								<div class="flex-caption-text">
									<h2>Let your life be<br>an Inspiration</h2>
									<p>Lorem ipsum dolor sit amet, consectet<br>adipiscinge lit. Nam malesuada dapi<br>bus diam, ut fringilla purus..</p>
									<a href="causes.html" class="btn btn-primary">Start with a little</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- End Hero Slider -->
</div>