<div class="text-align-left">
    <div class="spacer-50"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="icon-box ibox-border">
                <div class="ibox-icon">
                    <i class="fa fa-user-md"></i>
                </div>
                <h3>Health Benefits</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icon-box ibox-border">
                <div class="ibox-icon">
                    <i class="fa fa-bus"></i>
                </div>
                <h3>Transportation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icon-box ibox-border">
                <div class="ibox-icon">
                    <i class="fa fa-mobile-phone"></i>
                </div>
                <h3>Gadgets &amp; Gears</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
            </div>
        </div>
    </div>
    <div class="spacer-50 hidden-sm hidden-xs"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="icon-box ibox-border">
                <div class="ibox-icon">
                    <i class="fa fa-heart"></i>
                </div>
                <h3>Inner Satisfaction</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icon-box ibox-border">
                <div class="ibox-icon">
                    <i class="fa fa-plane"></i>
                </div>
                <h3>Travel the world</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icon-box ibox-border">
                <div class="ibox-icon">
                    <i class="fa fa-bolt"></i>
                </div>
                <h3>401K Matching</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
            </div>
        </div>
    </div>
    <div class="spacer-75 hidden-sm hidden-xs"></div>
</div>