
{% for icon_box in include.icon_boxes %}
    {% assign link_page = site.pages | concat: site.documents | where:"path", icon_box.link | first %}
    {% if forloop.first %}
    <div class="text-align-left">
        <div class="spacer-50"></div>
        <div class="row">
    {% endif %}

    <div class="col-md-4">
        <div class="icon-box ibox-border">
            <div class="ibox-icon">
                <i class="{{ icon_box.icon }}"></i>
            </div>
            <a href="{{ link_page.url }}"><h3>{{ icon_box.title }}</h3></a>
            <p>{{ icon_box.text }}</p>
        </div>
    </div>

    {% assign index_mod_3 = forloop.index | modulo: 3 %}
    {% if forloop.last == false and index_mod_3 == 0 %}
    </div>
    <div class="spacer-50 hidden-sm hidden-xs"></div>
    <div class="row">
    {% endif %}

    {% if forloop.last %}
        </div>
        <div class="spacer-75 hidden-sm hidden-xs"></div>
    </div>
    {% endif %}
{% endfor %}