<div class="grid-item grid-staff-item">
    <div class="grid-item-inner">
        <div class="media-box"><a href="{{ include.url }}"><img src="{{ include.image | resized_image_url: "358x238" }}" width="358" height="238" alt="{{ include.title }}"></a></div>
        <div class="grid-item-content">
        <a href="{{ include.url }}"><h3>{{ include.title }}</h3></a>
        <span class="meta-data">{{ include.location }}</span>
        <p>{{ include.description }}</p>
        </div>
    </div>
</div>