<div class="grid-item grid-staff-item">
    <div class="grid-item-inner">
        <div class="media-box"><img src="{{ include.thumbnail | resized_image_url: "358x238" }}" alt="{{ include.title }}"></div>
        <div class="grid-item-content">
        <h3>{{ include.title }}</h3>
        <span class="meta-data">{{ include.sub_heading }}</span>
        <ul class="social-icons-rounded social-icons-colored">
            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
        <p>{{ include.content }}</p>
        </div>
    </div>
</div>
