<div class="grid-item grid-staff-item">
    <div class="grid-item-inner">
        <div class="media-box">{% if include.link_to_details %}<a href="{{ include.url }}">{% endif %}<img src="{{ include.thumbnail | resized_image_url: "358x238" }}" width="358" height="238" alt="{{ include.title }}">{% if include.link_to_details %}</a>{% endif %}</div>
        <div class="grid-item-content">
            {% if include.link_to_details %}<a href="{{ include.url }}">{% endif %}<h3>{{ include.title }}</h3>{% if include.link_to_details %}</a>{% endif %}
        <span class="meta-data">{{ include.sub_heading }}</span>
        <p>{{ include.description }}</p>
        {% if include.link_to_details %}<a href="{{ include.url }}" class="btn btn-primary">Lees meer</a>{% endif %}
        </div>
    </div>
</div>
