{% if include.paginator.page_trail %}
<nav>
    <ul class="pagination pagination-lg">
        {% if include.paginator.previous_page %}
        <li>
            <a href="{{ include.paginator.previous_page_path | relative_url }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for trail in include.paginator.page_trail %}
            <li {% if page.url == trail.path %}class="active"{% endif %}>
                <a href="{{ trail.path | prepend: site.baseurl | remove: 'index.html' }}" title="{{ trail.title }}">{{ trail.num }}</a>
            </li>
        {% endfor %}                    
        {% if include.paginator.next_page %}
        <li>
            <a href="{{ include.paginator.next_page_path | relative_url }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}