{% for post in include.posts | limit: include.limit %}
<div class="blog-list-item format-standard">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <a href="{{ post.url | absolute_url }}" class="media-box grid-featured-img">
                <img src="{{ post.banner_image | absolute_url | resized_image_url: "345x230" }}" alt="">
            </a>
        </div>
        <div class="col-md-8 col-sm-8">
            <h4><a href="{{ post.url | absolute_url }}">{{ post.title | escape }}</a></h4>
            {% if include.show_lead_text %}
            <div class="grid-item-excerpt">
                <p>{{ post.lead_text }}</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}