<ul class="grid-holder isotope gallery-items" data-sort-id="gallery">
    {% for post in include.posts | limit: include.limit %}
    <li class="col-md-4 col-sm-6 grid-item blog-grid-item format-standard">
        <div class="grid-item-inner">
            <a href="{{ post.url | absolute_url }}" class="media-box">
                <img data-src="{{ post.banner_image | resized_image_url: 367, 245 }}" width="367" height="245" alt="" class="lazy">
            </a>
            <div class="grid-item-content">
                <h3 class="post-title"><a href="{{ post.url | absolute_url }}">{{ post.title | escape }}</a></h3>
                <span class="meta-data"><i class="fa fa-calendar"></i> Geplaatst op {{ post.date | date_to_string }}</span>
                <p>{{ post.lead_text }}</p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>