{% case include.type %}
    {% when 'Text' %}
      <input type="text" name="{{ include.name }}"  class="form-control input-lg" placeholder="{{ include.placeholder }}">
    {% when 'E-mail' %}
      <input type="email" name="{{ include.name }}"  class="form-control input-lg" placeholder="{{ include.placeholder }}">
    {% when 'Text area' %}
      <textarea cols="6" rows="8" id="comments" name="comments" class="form-control input-lg" placeholder="{{ include.placeholder }}"></textarea>
{% endcase %}