<div class="row">
    <ul class="owl-carousel carousel-fw" id="stories-slider" data-columns="1" data-autoplay="" data-pagination="no" data-arrows="yes" data-single-item="no" data-items-desktop="1" data-items-desktop-small="2" data-items-tablet="1" data-items-mobile="1">
        {% for item in include.items %}
        {% assign link_page = site.documents | where:"path", item.link | first %}
        <li class="item">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ item.image }}" alt="" class="img-responsive">
                </div>       
                <div class="col-md-6">
                    <div class="story-slider-content">
                        <div class="story-slider-table">
                            <div class="story-slider-cell">
                                <blockquote>
                                    <h3>{{ item.title }}</h3>
                                    {{ item.text | markdownify }}
                                </blockquote>
                                <a href="{{ link_page.url }}" class="btn btn-primary">Bekijk het volledige verhaal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>