<div class="row">
    <ul class="owl-carousel carousel-fw" id="stories-slider" data-columns="1" data-autoplay="" data-pagination="no" data-arrows="yes" data-single-item="no" data-items-desktop="1" data-items-desktop-small="2" data-items-tablet="1" data-items-mobile="1">
        {% for item in include.items %}
        {% assign button_link_page = site.pages | concat: site.documents | where:"path", item.button.link | first %}
        <li class="item">
            <div class="row">
                <div class="col-md-6">
                    <img data-src="{{ item.image  | resized_image_url: 1024, 768 }}" alt="" class="img-responsive lazy">
                </div>       
                <div class="col-md-6">
                    <div class="story-slider-content">
                        <div class="story-slider-table">
                            <div class="story-slider-cell">
                                <blockquote>
                                    <h3>{{ item.title }}</h3>
                                    {{ item.text | markdownify }}
                                </blockquote>
                                <a href="{{ button_link_page.url }}" class="btn btn-primary">{{ item.button.text }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>