<div class="parallax parallax6 padding-tb100" style="background-image: url('https://demo1.imithemes.com/html/born-to-give/images/parallax5.jpg'); background-position: 50% 97px;">
  <div class="container">
        <div class="parallax-text-block pull-right">
            <h3>Nepal has been seriously devastated by the recent earthquake.</h3>
            <p>Over 8,000 people have died (with death toll rising), thousands more are injured, and countless more have been displaced. Many homes, <a href="#">temples</a>, and public monuments have been destroyed throughout the affected areas.</p>
            <a href="#" class="btn btn-primary">Donate to cause</a>
        </div>
     </div>
</div>