<div class="row">
    <div class="col-md-5 col-sm-5">
        <h2 class="block-title">{{ include.title }}</h2>
        <p>{{ include.text }}</p>
    </div>
    <div class="col-md-6 col-sm-6 col-md-offset-1 col-md-offset-1">
        <a href="{{ include.video_link }}" class="media-box magnific-video"> <img src="{{ include.video.thumbnail | absolute_url}}" alt=""> </a>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-sm-5">
        <a href="" class="btn btn-primary">Lees meer</a>
    </div>
    <div class="col-md-6 col-sm-6 col-md-offset-1 col-md-offset-1">
        <a href="" class="btn btn-primary">Meer video's</a>
    </div>
</div>
