---
layout: page-with-hero
---
{% comment %}
	This layout is used by the documents in the _events/ collection
{% endcomment %}

<div class="container">
    <h3>{{ page.title }}</h3>
    <div class="row">
        <div class="col-md-8 content-block">
            {% assign location = site.locations | where:"path", page.location | first %}
            {% include event.html location=location image=page.image from_date=page.from_date to_date=page.to_date length_of_time=page.length_of_time title=page.title price=page.price lead_text=page.lead_text content=page.content %}
        </div>

        <!-- Sidebar -->
        <div class="col-md-4 sidebar-block">
            <div class="widget sidebar-widget">
                <h3 class="widgettitle">Komende events</h3>
                {% assign events = site.events | sort: 'from_date' %}
                {% include events-compact-list.html events=events %}
            </div>
            <div class="widget sidebar-widget">
                <h3 class="widgettitle">Laatste posts</h3>
                {% assign posts = site.posts | sort: 'date' | reverse %}
                {% include posts-blog-list-item.html posts=posts limit=5 show_lead_text=false %}
            </div>
            <div class="widget sidebar-widget">
                <h3 class="widgettitle">Video's</h3>
                {% include videos-gallery.html videos=site.videos %}
            </div>
        </div>
    </div>
</div>