---
layout: default
---

{% comment %}
	This layout is used to generate custom landing page layouts,
	e.g index.md and about.md
{% endcomment %}

{% include featured-links.html %}

<!-- Main Content -->
<div id="main-container">
	<div class="content">
		<div class="lgray-bg padding-tb75">
			{% for block in page.sections %}
				{% case block.template %}
				{% when 'text-left-video-right' %}
					{% include blocks/text-left-video-right.html title=block.title text=block.text buttons=block.buttons video=block.video %}
				{% when 'owl-carousel-image-left-story-right' %}
					{% include blocks/owl-carousel-image-left-story-right.html items=block.items %}
				{% when 'upcoming-events-left-latest-blogs-right' %}
					{% include blocks/upcoming-events-left-latest-blogs-right.html %}
				{% when 'blue-bar' %}
					{% include blocks/blue-bar.html text=block.text button=block.button %}
				{% when 'centered-header-text' %}
					{% include blocks/centered-header-text.html text=block.text %}
				{% endcase %}
			{% endfor %}
		</div>
	</div>
</div>