---
layout: default
---

{% comment %}
	This layout is used to generate custom landing page layouts,
	e.g index.md and about.md
{% endcomment %}

{% include featured-links.html %}

<!-- Main Content -->
<div id="main-container">
	<div class="content">
		<div class="lgray-bg padding-tb75">
			<div class="container">
				{% for block in page.sections %}
					{% assign template = block.template %}
					{% case template %}
					{% when 'text-left-video-right' %}
						{% include blocks/text-left-video-right.html title=block.title text=block.text buttons=block.buttons video=block.video %}
					{% when 'icon-boxes' %}
						{% include blocks/icon-boxes.html %}
					{% endcase %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>