---
layout: page
---
{% comment %}
	This layout is used by the documents in the _posts/ collection
{% endcomment %}

<div class="container">
  <div class="row">
    <div class="col-md-8 content-block">
        <h1>{{ page.title | escape }}</h1>
        {% include post.html banner_image=page.banner_image content=page.content tags=page.tags author=page.author path=page.path %}
    </div>

    <!-- Sidebar -->
    <div class="col-md-4 sidebar-block">
      <div class="widget sidebar-widget recent_posts">
        <h3 class="widgettitle">Laatste posts</h3>
        {% assign posts = site.posts | sort: 'date' | reverse %}
        {% include posts-widget.html posts=posts limit=5 %}
        <a href="{{ "/magazine" | absolute_url }}" class="basic-link">Meer posts</a>
      </div>
      <div class="widget sidebar-widget widget_categories">
        <h3 class="widgettitle">Post categorie&euml;n</h3>
          <ul>
            {% for category in site.categories %}
            <li><a href="/category/{{category | first | slugify }}">{{ category | first }}</a></li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</div>