---
layout: page
---
{% comment %}
	This layout is used by the documents in the _posts/ collection
{% endcomment %}

<div class="container">
  <h3>{{ page.title | escape }}</h3>
  <div class="row">
    <div class="col-md-8 content-block">
      {% include post.html banner_image=page.banner_image content=page.content tags=page.tags author=page.author path=page.path %}
    </div>

    <!-- Sidebar -->
    <div class="col-md-4 sidebar-block">
      <div class="widget tabbed_content tabs">
        <ul class="nav nav-tabs">
          <li class="active"> <a data-toggle="tab" href="#Trelated">Related</a> </li>
        </ul>
        <div class="tab-content">
          <div id="Trelated" class="tab-pane active">
            {% if page.related_posts.size > 0 %}
            <div class="widget recent_posts">
              <ul>
                {% for item in page.related_posts %}
                {% assign post = site.posts | where:"path", item | first %}
                <li>
                  <a href="{{ post.url | absolute_url }}" class="media-box">
                    <img src="{{ post.banner_image | absolute_url }}" alt="">
                  </a>
                  <h5><a href="{{ post.url | absolute_url }}">{{ post.title | escape }}</a></h5>
                  <span class="meta-data grid-item-meta">Posted on {{ post.date | date_to_string }}</span>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>