---
layout: default
---
{% comment %}
	This layout is used to by posts.md to display all of documents in
	the _posts/ collection
{% endcomment %}

  <!-- Hero Area -->
  <div class="hero-area">
    <div class="page-banner parallax" style="background-image:url(images/inside7.jpg);">
        <div class="container">
            <div class="page-banner-text">
            <h1 class="block-title">Magazine</h1>
              </div>
          </div>
      </div>
  </div>
  <!-- Main Content -->
  <div id="main-container">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 content-block">
                  {% for post in paginator.posts %}
                  <div class="blog-list-item format-standard">
                      <div class="row">
                          <div class="col-md-4 col-sm-4">
                              <a href="{{ post.url | absolute_url }}" class="media-box grid-featured-img">
                                  <img src="{{ post.banner_image | absolute_url }}" alt="">
                              </a>
                          </div>
                          <div class="col-md-8 col-sm-8">
                              <h3><a href="{{ post.url | absolute_url }}">{{ post.title | escape }}</a></h3>
                              <span class="meta-data grid-item-meta"><i class="fa fa-calendar"></i> Posted on {{ post.date | date_to_string }}</span>
                              <div class="grid-item-excerpt">
                                  <p>{{ post.content | truncatewords: 30 }}</p>
                              </div>
                              <a href="{{ post.url | absolute_url }}" class="basic-link">Lees meer</a>
                          </div>
                      </div>
                  </div>
                  {% endfor %}

                  {% if paginator.page_trail %}
                  <!-- Page Pagination -->
                  <nav>
                    <ul class="pagination pagination-lg">
                        {% if paginator.previous_page %}
                        <li>
                            <a href="{{ paginator.previous_page_path | relative_url }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for trail in paginator.page_trail %}
                          <li {% if page.url == trail.path %}class="active"{% endif %}>
                              <a href="{{ trail.path | prepend: site.baseurl | remove: 'index.html' }}" title="{{ trail.title }}">{{ trail.num }}</a>
                          </li>
                        {% endfor %}                    
                        {% if paginator.next_page %}
                        <li>
                          <a href="{{ paginator.next_page_path | relative_url }}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                        {% endif %}
                      </ul>
                    </nav>
                    {% endif %}
                  </div>
                  <div class="col-md-4 sidebar-block">
                      <div class="widget tabbed_content tabs">
                          <ul class="nav nav-tabs">
                              <li class="active"> <a data-toggle="tab" href="#Trecent">Recent</a> </li>
                          </ul>
                          <div class="tab-content">
                              <div id="Trecent" class="tab-pane active">
                                  <div class="widget recent_posts">
                                      <ul>
                                          {% assign recent_posts = site.posts | sort: 'date' | reverse %}
                                          {% for post in recent_posts limit:3 %}
                                          <li>
                                              <a href="{{ post.url | absolute_url }}" class="media-box">
                                                  <img src="{{ post.banner_image | absolute_url }}" alt="">
                                              </a>
                                              <h5><a href="{{ post.url | absolute_url }}">{{ post.title | escape }}</a></h5>
                                              <span class="meta-data grid-item-meta">Posted on {{ post.date | date_to_string }}</span>
                                          </li>
                                          {% endfor %}
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>